name: firebase_ui_storage_example
description: A new Flutter project.
publish_to: "none"
version: 0.1.0

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  cupertino_icons: ^1.0.6
  file_picker: ^6.1.1
  firebase_core: ^4.0.0
  firebase_storage: ^13.0.0
  firebase_ui_storage: ^3.0.0
  firebase_ui_shared: ^1.4.1

  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
