name: firebase_ui_shared
description: Abstractions and widgets that are used across Firebase UI packages.
version: 1.4.2
homepage: https://github.com/firebase/FirebaseUI-Flutter/packages/firebase_ui_shared

environment:
  sdk: ">=2.18.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
