name: e2e

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "**/example/**"
      - "**.md"
      - "**.png"
      - "**.jpg"
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "**/example/**"
      - "**.md"
      - "**.png"
      - "**.jpg"
  workflow_dispatch:

jobs:
  android:
    runs-on: macos-latest
    timeout-minutes: 45
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 33
          script: ./gradlew connectedCheck
    # steps:
    #   - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
    #   - uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8
    #     name: Install Node.js 16
    #     with:
    #       node-version: "16"
    #   - uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2
    #     with:
    #       distribution: "temurin"
    #       java-version: "11"
    #   - name: Gradle cache
    #     uses: gradle/gradle-build-action@v2

    #   - name: AVD cache
    #     uses: actions/cache@v3
    #     id: avd-cache
    #     with:
    #       path: |
    #         ~/.android/avd/*
    #         ~/.android/adb*
    #       key: avd

    #   - name: create AVD and generate snapshot for caching
    #     if: steps.avd-cache.outputs.cache-hit != 'true'
    #     uses: reactivecircus/android-emulator-runner@v2
    #     with:
    #       api-level: 33
    #       force-avd-creation: false
    #       emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
    #       disable-animations: false
    #       script: echo "Generated AVD snapshot for caching."
    #   - name: Firebase Emulator Cache
    #     uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
    #     with:
    #       path: ~/.cache/firebase/emulators
    #       key: firebase-emulators-v2-${{ github.run_id }}
    #       restore-keys: firebase-emulators-v2
    #   - uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa
    #     with:
    #       channel: "stable"
    #       cache: true
    #   - uses: bluefireteam/melos-action@dd3c344d731938d2ab2567a261f54a19a68b5f6a
    #     with:
    #       run-bootstrap: false
    #       melos-version: "3.0.1"
    #   - name: "Bootstrap package"
    #     run: melos bootstrap --scope tests
    #   - name: "Install Tools"
    #     run: |
    #       sudo npm i -g firebase-tools
    #   - name: Start Firebase Emulator and proxy
    #     run: |
    #       cd ./tests
    #       echo "Starting Firebase Emulator"
    #       ../.github/workflows/scripts/start-firebase-emulator.sh
    #       cd ../emulator_proxy
    #       echo "Starting emulator proxy"
    #       dart run emulator_proxy:start 100 &
    #   - name: Create and start emulator
    #     uses: reactivecircus/android-emulator-runner@v2
    #     with:
    #       api-level: 33
    #       force-avd-creation: false
    #       emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
    #       disable-animations: true
    #       script: ./gradlew connectedCheck
    #   - name: "E2E Tests"
    #     working-directory: tests
    #     run: |
    #       flutter test integration_test/firebase_ui_test.dart --dart-define=CI=true

  # ios:
  #   runs-on: macos-latest
  #   timeout-minutes: 45
  #   steps:
  #     - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
  #     - uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8
  #       name: Install Node.js 16
  #       with:
  #         node-version: "16"
  #     - uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2
  #       with:
  #         distribution: "temurin"
  #         java-version: "11"
  #     - uses: hendrikmuhs/ccache-action@6d1841ec156c39a52b1b23a810da917ab98da1f4
  #       name: Xcode Compile Cache
  #       with:
  #         key: ${{ runner.os }}-ios-v3
  #         max-size: 700M
  #     - uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
  #       name: Pods Cache
  #       id: pods-cache
  #       with:
  #         path: tests/ios/Pods
  #         key: ${{ runner.os }}-pods-v3-${{ hashFiles('tests/ios/Podfile.lock') }}
  #         restore-keys: ${{ runner.os }}-ios-pods-v2
  #     - name: Firebase Emulator Cache
  #       uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
  #       with:
  #         path: ~/.cache/firebase/emulators
  #         key: firebase-emulators-v1-${{ github.run_id }}
  #         restore-keys: firebase-emulators-v1
  #     - uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa
  #       with:
  #         channel: "stable"
  #         cache: true
  #     - uses: bluefireteam/melos-action@dd3c344d731938d2ab2567a261f54a19a68b5f6a
  #       with:
  #         run-bootstrap: false
  #         melos-version: "3.0.1"
  #     - name: "Bootstrap package"
  #       run: melos bootstrap --scope tests
  #     - name: "Install Tools"
  #       run: |
  #         sudo npm i -g firebase-tools
  #     - name: "Build Application"
  #       working-directory: tests
  #       run: |
  #         export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
  #         export CCACHE_SLOPPINESS=clang_index_store,file_stat_matches,include_file_ctime,include_file_mtime,ivfsoverlay,pch_defines,modules,system_headers,time_macros
  #         export CCACHE_FILECLONE=true
  #         export CCACHE_DEPEND=true
  #         export CCACHE_INODECACHE=true
  #         ccache -s
  #         flutter build ios --no-codesign --simulator --debug --target=./integration_test/firebase_ui_test.dart --dart-define=CI=true
  #         ccache -s
  #     - name: Start Firebase Emulator and proxy
  #       run: |
  #         cd ./tests
  #         echo "Starting Firebase Emulator"
  #         ../.github/workflows/scripts/start-firebase-emulator.sh
  #         cd ../emulator_proxy
  #         echo "Starting emulator proxy"
  #         dart run emulator_proxy:start 100 &
  #     - name: "E2E Tests"
  #       working-directory: tests
  #       run: |
  #         # Boot simulator and wait for System app to be ready.
  #         # List of available simulators: https://github.com/actions/runner-images/blob/main/images/macos/macos-13-Readme.md#installed-simulators
  #         SIMULATOR="iPhone 14"
  #         xcrun simctl bootstatus "$SIMULATOR" -b
  #         xcrun simctl logverbose "$SIMULATOR" enable
  #         # Sleep to allow simulator to settle.
  #         sleep 15
  #         # Uncomment following line to have simulator logs printed out for debugging purposes.
  #         # xcrun simctl spawn booted log stream --predicate 'eventMessage contains "flutter"' &
  #         flutter test ./integration_test/firebase_ui_test.dart -d "$SIMULATOR" --dart-define=CI=true

  # macos:
  #   runs-on: macos-latest
  #   timeout-minutes: 45
  #   steps:
  #     - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
  #     - uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8
  #       name: Install Node.js 16
  #       with:
  #         node-version: "16"
  #     - uses: actions/setup-java@cd89f46ac9d01407894225f350157564c9c7cee2
  #       with:
  #         distribution: "temurin"
  #         java-version: "11"
  #     - uses: hendrikmuhs/ccache-action@6d1841ec156c39a52b1b23a810da917ab98da1f4
  #       name: Xcode Compile Cache
  #       with:
  #         key: ${{ runner.os }}-macos-v2
  #         max-size: 700M
  #     - uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
  #       name: Pods Cache
  #       id: pods-cache
  #       with:
  #         path: tests/macos/Pods
  #         key: ${{ runner.os }}-pods-v2-${{ hashFiles('tests/macos/Podfile.lock') }}
  #         restore-keys: ${{ runner.os }}-macos-pods-v1
  #     - name: Cache Firebase Emulator
  #       uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84
  #       with:
  #         path: ~/.cache/firebase/emulators
  #         key: firebase-emulators-v1-${{ github.run_id }}
  #         restore-keys: firebase-emulators-v1
  #     - uses: subosito/flutter-action@48cafc24713cca54bbe03cdc3a423187d413aafa
  #       with:
  #         channel: "stable"
  #         cache: true
  #     - uses: bluefireteam/melos-action@dd3c344d731938d2ab2567a261f54a19a68b5f6a
  #       with:
  #         run-bootstrap: false
  #         melos-version: "3.0.1"
  #     - name: "Bootstrap package"
  #       run: melos bootstrap --scope tests
  #     - name: "Install Tools"
  #       run: |
  #         sudo npm i -g firebase-tools
  #     - name: "Build Application"
  #       working-directory: tests
  #       run: |
  #         export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
  #         export CCACHE_SLOPPINESS=clang_index_store,file_stat_matches,include_file_ctime,include_file_mtime,ivfsoverlay,pch_defines,modules,system_headers,time_macros
  #         export CCACHE_FILECLONE=true
  #         export CCACHE_DEPEND=true
  #         export CCACHE_INODECACHE=true
  #         ccache -s
  #         flutter build macos --debug --target=./integration_test/firebase_ui_test.dart --device-id=macos --dart-define=CI=true
  #         ccache -s
  #     - name: Start Firebase Emulator and proxy
  #       run: |
  #         cd ./tests
  #         echo "Starting Firebase Emulator"
  #         ../.github/workflows/scripts/start-firebase-emulator.sh
  #         cd ../emulator_proxy
  #         echo "Starting emulator proxy"
  #         dart run emulator_proxy:start 100 &
  #     - name: "E2E Tests"
  #       working-directory: tests
  #       run: flutter test ./integration_test/firebase_ui_test.dart -d macos --dart-define=CI=true
